{% extends 'layout/base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eligendi explicabo nostrum
        nulla placeat quia quibusdam repudiandae. Animi consectetur dolorem excepturi fuga, hic, ipsa
        modi neque pariatur sequi sit tempora.
    </p>

    {% include 'common/flash.twig' %}
    <form action="{{ path_for('contact') }}" name="contact-form" method="post">
        <p>
            <label for="firstname">Nom</label>
            <input type="text" id="contact-firstname" name="firstname" />
        </p>

        <p>
            <label for="lastname">Prénom</label>
            <input type="text" id="contact-lastname" name="lastname" />
        </p>

        <p>
            <label for="message">Message</label>
            <textarea id="contact-message" name="message" cols="30" rows="10"></textarea>
        </p>

        <p>
            <input type="hidden" name="csrf_name" value="{{ name }}">
            <input type="hidden" name="csrf_value" value="{{ value }}">
            <button type="submit">Envoyer</button>
        </p>
    </form>

    {% include 'common/callback.twig' %}
{% endblock %}