{% extends 'layout/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Error</h1>
    <p>
        This is the end.
    </p>

    <p>
        <a href="/" title="Go to homepage">Go to homepage</a>
    </p>
{% endblock %}