{% extends 'layout/base.html.twig' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}

{% block body %}
    <h1>Slim</h1>
    <div>a microframework for PHP</div>
    <a href="/contact">Contact</a>
{% endblock %}